<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ImapClient" value="swissmail.swissoil.local"/>
		<add key="UserClient" value="ruanotv"/>
		<add key="EmailClient" value="ruanotv@swissoil.com.ec"/>
		<add key="PasswordClient" value=".$circ6HAVO7"/>
		<add key="Subject" value="PEDIDOS DE CLIENTES SWISSOIL"/>
		<add key="ExtensionFile" value=".xls"/>
		<add key="PathFile" value="C:\\Users\\Adria\\source\\repos\\EmailReadAtachment\\EmailReadAtachment\\archivos\\"/>
		<add key="SubjectResponseForReceive" value= "Notificacion de archivo recibido"/>
		<add key="BodyTextForReceive" value= "Archivo recibido, próximamente lo procesaremos."/>

		<add key="SubjectResponseForProcess" value= "Notificacion de archivo procesao"/>
		<add key="BodyTextForProcess" value= "Archivo procesado"/>

		<add key="SubjectResponseForError" value= "Notificacion de archivo recibido"/>
		<add key="BodyTextForError" value= "El archivo contiene errores."/>
		
		<add key="CeldaValorCliente" value="B2" />
	</appSettings>
</configuration>