<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
    <add name="Produccion" connectionString="" providerName="System.Data.SqlClient" />
    <add name="Prueba" connectionString="" providerName="System.Data.SqlClient" /> 
    <!--<add name="SQL" connectionString="Data Source=172.20.92.20;Initial Catalog=Temporal;User ID=sa;Password=laganga_2011;Pooling=True" providerName="System.Data.SqlClient" />-->
    <add name="SQL" connectionString="Data Source=swissap;Initial Catalog=SAM;User Id=userapp;Password=swissoil2013;" providerName="System.Data.SqlClient" />
  </connectionStrings>

	<appSettings>
		
    <add key="ConnectionStringResponse" value="http://www.google.com"/>
    <add key="ConnectionStringProduccion" value="Produccion"/>
    <add key="ConnectionStringPrueba" value="Prueba"/>
    <add key="ConnectionStringSQL" value="SQL"/>
    <add key="ConnectionStringDQB" value="V64TESTFEC"/>
    <add key="ConnectionStringDNS" value="AS400new"/>
    <add key="ConnectionStringDQBPRUEBA" value="V64TESTFEC"/>
    
    <add key="MotorDB2_Odbc" value="DB2_ODBC"/>
    <add key="MotorSQL_Server" value="SQL_SERVER"/>
    <add key="MotorOrigen" value="DB2_ODBC"/>
    <add key="MotorOrigen2" value="SQL_SERVER"/>
    <add key="TipoPrueba" value="false"/>
    <add key="UID" value="ruanotv6"/>
    <add key="PWD" value="Cas9hom5"/>
		<add key="VALIDAR_CANTIDADES" value="1"/>
		<add key="FACTOR_DESVIO" value="0.4"/>
		<add key="PROCESS01" value="V64MODSJEC"/>
  </appSettings>
</configuration>
			
