<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ImapClient" value="swissmail.swissoil.local"/>
		<add key="UserClient" value="ruanotv"/>
		<add key="EmailClient" value="ruanotv@swissoil.com.ec"/>
		<add key="PasswordClient" value=".$circ6HAVO7"/>
		<add key="Subject" value="PEDIDOS DE CLIENTES SWISSOIL"/>
		<add key="ExtensionFile" value=".xls"/>
		<add key="PathFile" value="C:\\Users\\Adria\\source\\repos\\EmailReadAtachment\\EmailReadAtachment\\archivos\\"/>
		<add key="SubjectResponseForReceive" value= "Notificacion de archivo recibido"/>
		<add key="BodyTextForReceive" value= "Archivo recibido, próximamente lo procesaremos."/>

		<add key="CeldaValorProveedor" value="B1" />
		<add key="celdaValorContactoProveedor" value="B2" />
		<add key="CeldaValorSucursal" value="B3" />
		<add key="CeldaValorDireccionEntrega" value="B4" />
		<add key="CeldaValorOrdenCompra" value="B5" />
		<add key="CeldaValorClienteSwiss" value="B6" />
		<add key="CeldaValorEntregarEn" value="D6" />

		<add key="CeldaRangoInicialValores" value="A8" />
		<add key="ColumnaRangoFinalValores" value="E" />
		<add key="LimiteMaximoValores" value="200" />

		<add key="ColumnaCodigoCONAUTO" value="A" />
		<add key="ColumnaCodigoSWISSOIL" value="B" />
		<add key="ColumnaDescripcionProducto" value="C" />
		<add key="ColumnaEmpaque" value="D" />
		<add key="ColumnaCantidad" value="E" /> 

	</appSettings>
</configuration>